In [1]:
import regex as re
import pandas as pd

In [2]:
Sample_Text='Python Exercises, PHP exercises.'

Match=re.sub(r"\W",":",Sample_Text)
print(Match)

Python:Exercises::PHP:exercises:

In [3]:
data = {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df = pd.DataFrame(data)
df['SUMMARY'] = df['SUMMARY'].apply(lambda x:re.sub(r'[^a-z\s]', '',x))
df

         SUMMARY
0    hello world
1           test
2  four five six

In [4]:
target_string="Data Science is a very useful platform"

pattern=re.compile(r'(\b\w{4}\b)')
for match in pattern.finditer(target_string):
    print(match.group())

Data
very

In [5]:
string="Data Science is a very platform and using it wills be helpful"

target_string=r'\b\w{3}\b'
pattern=re.compile(target_string)
result=pattern.findall(string)
print(result)

target_string=r'\b\w{4}\b'
pattern=re.compile(target_string)
result1=pattern.findall(string)
print(result1)

target_string=r'\b\w{5}\b'
pattern=re.compile(target_string)
result2=pattern.findall(string)
print(result2)

['and']
['Data', 'very']
['using', 'wills']

In [6]:
Sample_text="ImportanceOfRegularExpressionsInPython"
msg=re.findall('[A-Z][^A-Z]*',Sample_text)
print(msg)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [7]:
Sample_Text='RegularExpression1IsAn2ImportantTopic3InPython'
msg1=re.findall('\w[A-z][^\d+]*',Sample_Text)
print(msg1)

['RegularExpression', '1IsAn', '2ImportantTopic', '3InPython']

In [8]:
Sample_Text1='RegularExpression1IsAn2ImportantTopic3InPython'
msg2=re.findall('[A-z]*[^\d]',Sample_Text1)
print(msg2)

['RegularExpression', 'IsAn', 'ImportantTopic', 'InPython']

In [9]:
pattern1='\w+'
text='Kaggle is very much useful 123_for @purpose in INTERNET'

msg3=re.findall(pattern1,text)
print(msg3)

['Kaggle', 'is', 'very', 'much', 'useful', '123_for', 'purpose', 'in', 'INTERNET']

In [10]:
IP_Address='213.05.06.32'

msg4=re.sub('\.(0)*','.',IP_Address)
print(msg4)

213.5.6.32

In [11]:
df1=pd.read_csv('happiness_score_dataset.csv')
df1

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [12]:
df1['Country'].head(10)

0    Switzerland
1        Iceland
2        Denmark
3         Norway
4         Canada
5        Finland
6    Netherlands
7         Sweden
8    New Zealand
9      Australia
Name: Country, dtype: object

In [13]:
df1['first_five_letters'] = df1['Country'].apply(lambda x:x[:6])
df1

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

In [14]:
text='1995 is the year when a movie got released'
result=re.match('\d{4}',text)
print(result)

<regex.Match object; span=(0, 4), match='1995'>

In [15]:
sample_Text='Python exercises, PHP exercises, C# exercises'
pattern='exercises'

print(re.findall(pattern,sample_Text))

['exercises', 'exercises', 'exercises']

In [16]:
text1='Python is very important in Data science'
result=text1.find('Data')
print(result)

28

In [17]:
SampleText='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
number=re.findall('\d+',SampleText)
print(max(number))

950

In [18]:
patterns = [ 'fox', 'dog', 'horse' ]
text = 'The quick brown fox jumps over the lazy dog.'
for pattern in patterns:
    print('Searching for "%s" in "%s" ->' % (pattern, text),)
    if re.search(pattern,  text):
        print('Matched!')
    else:
        print('Not Matched!')

Searching for "fox" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "dog" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "horse" in "The quick brown fox jumps over the lazy dog." ->
Not Matched!

In [19]:
pattern = 'fox'
text = 'The quick brown fox jumps over the lazy dog.'
match = re.search(pattern, text)
print(match)

<regex.Match object; span=(16, 19), match='fox'>

In [20]:
text = 'Data Science, Human Science, Technical Science'
pattern = 'Science'
for match in re.finditer(pattern, text):
    s = match.start()
    e = match.end()
    print('Found "%s" at %d:%d' % (text[s:e], s, e))

Found "Science" at 5:12
Found "Science" at 20:27
Found "Science" at 39:46

In [21]:
def change_date_format(date):
        return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', date)
date1 = "2024-04-07"
print("Date in YYY-MM-DD Format: ",date1)
print("Date in DD-MM-YYYY Format: ",change_date_format(date1))

Date in YYY-MM-DD Format:  2024-04-07
Date in DD-MM-YYYY Format:  07-04-2024

In [22]:
text = "There are 20 apples in the market."

for m in re.finditer("\d+", text):
    print(m.group(0))
    print("Index position:", m.start())

20
Index position: 10

In [23]:
Text1="RegularExpressionIsAnImportantTopicInPython"
msg=re.findall('[A-Z][^A-Z]*',Text1)
print(msg)

['Regular', 'Expression', 'Is', 'An', 'Important', 'Topic', 'In', 'Python']

In [24]:
def text_match(text):
        patterns = '[A-Z]+[a-z]+$'
        if re.search(patterns, text):
                return 'Found a match!'
        else:
                return('Not matched!')
print(text_match("Abcdefg"))
print(text_match("APpLe"))
print(text_match("ball"))
print(text_match("CAT"))
print(text_match("dD"))
print(text_match("Dd"))

Found a match!
Found a match!
Not matched!
Not matched!
Not matched!
Found a match!

In [25]:
Sample_Text2= "Hello hello world world"
re.sub(r'\b(\w+)( \1\b)+', r'\1',Sample_Text2)

'Hello hello world'

In [26]:
expression='[a-zA-z0-9]$'

def check_string(string):
    if(re.search(expression, string)):
      print("The string ends with alphanumeric character")
    else:
      print("The string doesnt end with alphanumeric character")

my_string_1 = "Abcde#"
print("The string is :")
print(my_string_1)
check_string(my_string_1)

my_string_2 = "Abcde12345"
print("\nThe string is :")
print(my_string_2)
check_string(my_string_2)

The string is :
Abcde#
The string doesnt end with alphanumeric character

The string is :
Abcde12345
The string ends with alphanumeric character

In [27]:
def extract_hashtags(text):
    regex = "(#\w+)"
    return re.findall(regex,str(text))

string='RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo'
hashtags= extract_hashtags(string)
hashtags

['#Doltiwal', '#xyzabc', '#Demonetization']

In [28]:
Teststring="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
re.sub(r'[U+<00A0><AABD><00B8><0082>.$*]', '', Teststring)

'@Jags13456 harat band on ??ededThose who  are protesting #demonetization  are all different party leaders'

In [29]:
text="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
results=re.compile(r'\W*\b\w{2,4}\b')
print(results.sub('', text))

 following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [30]:
import regex as re

with open("Sampletext.txt","r")as file:
    text=file.read()
    pattern=r'\d{2}-\d{2}-\d{4}'
    dates=re.findall(pattern,text)
    print(dates)

['12-09-1992', '15-12-1999']

In [31]:
string="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

target_string=r'\d+\.\d{1,2}'
pattern=re.compile(target_string)
result=pattern.findall(string)
print(result)

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

In [32]:
import regex as re

with open("Sampletext1.txt","r")as file:
    text1=file.read()
    pattern=r'\w{6}.\d{2,4}+..+\d'
    date=re.findall(pattern,text1)
    print(date)

['August 15th 1947']